ApocalypseNow v2

names
? ? ? ?

round 0

nou
89

terreny
   000000000011111111112222222222333333333344444444445555555555
   012345678901234567890123456789012345678901234567890123456789

00 XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
01 X::::.:::::::::..............................:::::::::.::::X
02 X::::::::::::::.OOOOOO................OOOOOO.::::::::::::::X
03 X::::::::::::::.OOOOOO................OOOOOO.::::::::::::::X
04 X::::::::::::::..OOO.O................O.OOO..::::::::::::::X
05 X:::::::::::::::..OO.O................O.OO..:::::::::::::::X
06 X::::::::::::::::....O................O....::::::::::::::::X
07 X::::::::::::::::::.OO..O..........O..OO.::::::::::::::::::X
08 X.:::::::::::::::::.OOO.OO........OO.OOO.:::::::::::::::::.X
09 X.:::::::::::::::::...O..OOOO..OOOO..O...:::::::::::::::::.X
10 X::::::::::::.........OO...OO..OO...OO.........::::::::::::X
11 X:::::::::::..XXXXX.OOOOOO.OO..OO.OOOOOO.XXXXX..:::::::::::X
12 X:::::::::...XX...X.OOOOOO..O..O..OOOOOO.X...XX...:::::::::X
13 X:::::::::.XXX..XXX.OOOOOO..OOOO..OOOOOO.XXX..XXX.:::::::::X
14 X:::::::::......X...O...OO........OO...O...X......:::::::::X
15 X:::::::::.XXXX...X.O.:.OOOO.OO.OOOO.:.O.X...XXXX.:::::::::X
16 X:::::::::.X..X..XX.O.:.OOOO.OO.OOOO.:.O.XX..X..X.:::::::::X
17 X.::::::::.X..XX.X..O........OO........O..X.XX..X.::::::::.X
18 X.::::::::.....XXX.....OO...OOOO...OO.....XXX.....::::::::.X
19 X.::::::::::::........OOOOOOOOOOOOOOOO........::::::::::::.X
20 X.::::::::::::.OOOO...OOOOOOOOOOOOOOOO...OOOO.::::::::::::.X
21 X.::::::::::::.OO.OOO.OO.OOOO..OOOO.OO.OOO.OO.::::::::::::.X
22 X.:::::::::.....O...O....OOOOOOOOOO....O...O.....:::::::::.X
23 X.::::::::..OOOOO.:......OOOOOOOOOO......:.OOOOO..::::::::.X
24 X.::::::::.OO.....::.....OOOOOOOOOO.....::.....OO.::::::::.X
25 X.::::::::.OOOOO.::..O....OO.OO.OO....O..::.OOOOO.::::::::.X
26 X......:::.OOOOO....OO................OO....OOOOO.:::......X
27 X.......::.OOOOO..OOO..................OOO..OOOOO.::.......X
28 X.............OO.OOOO..................OOOO.OO.............X
29 X.............OO.OO......................OO.OO.............X
30 X.............OO.OO......................OO.OO.............X
31 X.............OO.OOOO..................OOOO.OO.............X
32 X.......::.OOOOO..OOO..................OOO..OOOOO.::.......X
33 X......:::.OOOOO....OO................OO....OOOOO.:::......X
34 X.::::::::.OOOOO.::..O....OO.OO.OO....O..::.OOOOO.::::::::.X
35 X.::::::::.OO.....::.....OOOOOOOOOO.....::.....OO.::::::::.X
36 X.::::::::..OOOOO.:......OOOOOOOOOO......:.OOOOO..::::::::.X
37 X.:::::::::.....O...O....OOOOOOOOOO....O...O.....:::::::::.X
38 X.::::::::::::.OO.OOO.OO.OOOO..OOOO.OO.OOO.OO.::::::::::::.X
39 X.::::::::::::.OOOO...OOOOOOOOOOOOOOOO...OOOO.::::::::::::.X
40 X.::::::::::::........OOOOOOOOOOOOOOOO........::::::::::::.X
41 X.::::::::.....XXX.....OO...OOOO...OO.....XXX.....::::::::.X
42 X.::::::::.X..XX.X..O........OO........O..X.XX..X.::::::::.X
43 X:::::::::.X..X..XX.O.:.OOOO.OO.OOOO.:.O.XX..X..X.:::::::::X
44 X:::::::::.XXXX...X.O.:.OOOO.OO.OOOO.:.O.X...XXXX.:::::::::X
45 X:::::::::......X...O...OO........OO...O...X......:::::::::X
46 X:::::::::.XXX..XXX.OOOOOO..OOOO..OOOOOO.XXX..XXX.:::::::::X
47 X:::::::::...XX...X.OOOOOO..O..O..OOOOOO.X...XX...:::::::::X
48 X:::::::::::..XXXXX.OOOOOO.OO..OO.OOOOOO.XXXXX..:::::::::::X
49 X::::::::::::.........OO...OO..OO...OO.........::::::::::::X
50 X.:::::::::::::::::...O..OOOO..OOOO..O...:::::::::::::::::.X
51 X.:::::::::::::::::.OOO.OO........OO.OOO.:::::::::::::::::.X
52 X::::::::::::::::::.OO..O..........O..OO.::::::::::::::::::X
53 X::::::::::::::::....O................O....::::::::::::::::X
54 X:::::::::::::::..OO.O................O.OO..:::::::::::::::X
55 X::::::::::::::..OOO.O................O.OOO..::::::::::::::X
56 X::::::::::::::.OOOOOO................OOOOOO.::::::::::::::X
57 X::::::::::::::.OOOOOO................OOOOOO.::::::::::::::X
58 X::::.:::::::::..............................:::::::::.::::X
59 XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

posts
equip	x	y	valor	
-1	7	18	4000
-1	7	41	4000
-1	52	41	4000
-1	52	18	4000
-1	7	3	4000
-1	7	56	4000
-1	52	56	4000
-1	52	3	4000
-1	23	2	1000
-1	23	57	1000
-1	36	57	1000
-1	36	2	1000
-1	4	24	1000
-1	4	35	1000
-1	55	35	1000
-1	55	24	1000

score
20	20	20	20

status
0	0	0	0

agents
id	tipus	equip	x	y	vida	ori	napalm	paraca	
1	2	1	5	15	-1	0	30		0
2	2	1	15	5	-1	1	30		0
3	2	2	5	44	-1	0	30		0
4	2	2	15	54	-1	3	30		0
5	2	3	54	44	-1	2	30		0
6	2	3	44	54	-1	3	30		0
7	2	4	54	15	-1	2	30		0
8	2	4	44	5	-1	1	30		0
9	1	1	19	12	100	-1	-1		0
10	1	2	19	47	100	-1	-1		0
11	1	3	40	47	100	-1	-1		0
12	1	4	40	12	100	-1	-1		0
13	1	1	3	11	100	-1	-1		0
14	1	2	3	48	100	-1	-1		0
15	1	3	56	48	100	-1	-1		0
16	1	4	56	11	100	-1	-1		0
17	1	1	7	14	100	-1	-1		0
18	1	2	7	45	100	-1	-1		0
19	1	3	52	45	100	-1	-1		0
20	1	4	52	14	100	-1	-1		0
21	1	1	3	6	100	-1	-1		0
22	1	2	3	53	100	-1	-1		0
23	1	3	56	53	100	-1	-1		0
24	1	4	56	6	100	-1	-1		0
25	1	1	25	23	100	-1	-1		0
26	1	2	25	36	100	-1	-1		0
27	1	3	34	36	100	-1	-1		0
28	1	4	34	23	100	-1	-1		0
29	1	1	20	4	100	-1	-1		0
30	1	2	20	55	100	-1	-1		0
31	1	3	39	55	100	-1	-1		0
32	1	4	39	4	100	-1	-1		0
33	1	1	5	27	100	-1	-1		0
34	1	2	5	32	100	-1	-1		0
35	1	3	54	32	100	-1	-1		0
36	1	4	54	27	100	-1	-1		0
37	1	1	19	8	100	-1	-1		0
38	1	2	19	51	100	-1	-1		0
39	1	3	40	51	100	-1	-1		0
40	1	4	40	8	100	-1	-1		0
41	1	1	3	2	100	-1	-1		0
42	1	2	3	57	100	-1	-1		0
43	1	3	56	57	100	-1	-1		0
44	1	4	56	2	100	-1	-1		0
45	1	1	10	12	100	-1	-1		0
46	1	2	10	47	100	-1	-1		0
47	1	3	49	47	100	-1	-1		0
48	1	4	49	12	100	-1	-1		0
49	1	1	13	6	100	-1	-1		0
50	1	2	13	53	100	-1	-1		0
51	1	3	46	53	100	-1	-1		0
52	1	4	46	6	100	-1	-1		0
53	1	1	6	11	100	-1	-1		0
54	1	2	6	48	100	-1	-1		0
55	1	3	53	48	100	-1	-1		0
56	1	4	53	11	100	-1	-1		0
57	1	1	16	9	100	-1	-1		0
58	1	2	16	50	100	-1	-1		0
59	1	3	43	50	100	-1	-1		0
60	1	4	43	9	100	-1	-1		0
61	1	1	19	20	100	-1	-1		0
62	1	2	19	39	100	-1	-1		0
63	1	3	40	39	100	-1	-1		0
64	1	4	40	20	100	-1	-1		0
65	1	1	27	3	100	-1	-1		0
66	1	2	27	56	100	-1	-1		0
67	1	3	32	56	100	-1	-1		0
68	1	4	32	3	100	-1	-1		0
69	1	1	11	3	100	-1	-1		0
70	1	2	11	56	100	-1	-1		0
71	1	3	48	56	100	-1	-1		0
72	1	4	48	3	100	-1	-1		0
73	1	1	2	27	100	-1	-1		0
74	1	2	2	32	100	-1	-1		0
75	1	3	57	32	100	-1	-1		0
76	1	4	57	27	100	-1	-1		0
77	1	1	27	8	100	-1	-1		0
78	1	2	27	51	100	-1	-1		0
79	1	3	32	51	100	-1	-1		0
80	1	4	32	8	100	-1	-1		0
81	1	1	23	9	100	-1	-1		0
82	1	2	23	50	100	-1	-1		0
83	1	3	36	50	100	-1	-1		0
84	1	4	36	9	100	-1	-1		0
85	1	1	11	9	100	-1	-1		0
86	1	2	11	50	100	-1	-1		0
87	1	3	48	50	100	-1	-1		0
88	1	4	48	9	100	-1	-1		0
-1

foc
torns	x	y
-1


