ApocalypseNow v2

names
? ? ? ?

round 0

nou
89

terreny
   000000000011111111112222222222333333333344444444445555555555
   012345678901234567890123456789012345678901234567890123456789

00 XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
01 X::.......:::::.:::......................:::.:::::.......::X
02 X::::.OOO.....:::::::::..............:::::::::.....OOO.::::X
03 X::::.OOOOOOO.::::::::::............::::::::::.OOOOOOO.::::X
04 X::::..OOOOOO.:::::::::::..........:::::::::::.OOOOOO..::::X
05 X:::::..OOOOO....::::::::..........::::::::....OOOOO..:::::X
06 X:::::.OOOOOOOOO...::::::..........::::::...OOOOOOOOO.:::::X
07 X:::::.OOOOOOOOOOO.:::::::........:::::::.OOOOOOOOOOO.:::::X
08 X:::::.OOOOOOOO.OO.:::::::........:::::::.OO.OOOOOOOO.:::::X
09 X.::::....OO....OO.::::::..........::::::.OO....OO....::::.X
10 X.:::::::.......OO.:::::............:::::.OO.......:::::::.X
11 X:::::::::.XXXX.OO.::..................::.OO.XXXX.:::::::::X
12 X:::::::::....X....::.OOOOO......OOOOO.::....X....:::::::::X
13 X::::::::::::.XX..:...O.OOO......OOO.O...:..XX.::::::::::::X
14 X::::::::::::..XX.:.OOO.O..........O.OOO.:.XX..::::::::::::X
15 X:::::::::......X.:.OO..OO..OOOO..OO..OO.:.X......:::::::::X
16 X:::::::::.X...XX...OO...OOOOOOOOOO...OO...XX...X.:::::::::X
17 X.::::::::.X..XX..OOO...OOO......OOO...OOO..XX..X.::::::::.X
18 X.::::::::.XXXX..OOOO..OOOO......OOOO..OOOO..XXXX.::::::::.X
19 X.::::::::.......O.....OOOO......OOOO.....O.......::::::::.X
20 X.:::.......OO.OOO.:::................:::.OOO.OO.......:::.X
21 X..:..OO..OOOO.O.....:::::::.::.:::::::.....O.OOOO..OO..:..X
22 X....OOOO.OOOO.OOOOO.::::::::::::::::::.OOOOO.OOOO.OOOO....X
23 X....OO.OOOOOO.......:::::::....:::::::.......OOOOOO.OO....X
24 X.....O.OOOO...::::::::::::::..::::::::::::::...OOOO.O.....X
25 X.....O...OOOO.::::::::::::::..::::::::::::::.OOOO...O.....X
26 X.....O...OOOO.:::::::::::::....:::::::::::::.OOOO...O.....X
27 X.....OOO......:::::::..::::....::::..:::::::......OOO.....X
28 X.......O..........................................O.......X
29 X.......OO........................................OO.......X
30 X.......OO........................................OO.......X
31 X.......O..........................................O.......X
32 X.....OOO......:::::::..::::....::::..:::::::......OOO.....X
33 X.....O...OOOO.:::::::::::::....:::::::::::::.OOOO...O.....X
34 X.....O...OOOO.::::::::::::::..::::::::::::::.OOOO...O.....X
35 X.....O.OOOO...::::::::::::::..::::::::::::::...OOOO.O.....X
36 X....OO.OOOOOO.......:::::::....:::::::.......OOOOOO.OO....X
37 X....OOOO.OOOO.OOOOO.::::::::::::::::::.OOOOO.OOOO.OOOO....X
38 X..:..OO..OOOO.O.....:::::::.::.:::::::.....O.OOOO..OO..:..X
39 X.:::.......OO.OOO.:::................:::.OOO.OO.......:::.X
40 X.::::::::.......O.....OOOO......OOOO.....O.......::::::::.X
41 X.::::::::.XXXX..OOOO..OOOO......OOOO..OOOO..XXXX.::::::::.X
42 X.::::::::.X..XX..OOO...OOO......OOO...OOO..XX..X.::::::::.X
43 X:::::::::.X...XX...OO...OOOOOOOOOO...OO...XX...X.:::::::::X
44 X:::::::::......X.:.OO..OO..OOOO..OO..OO.:.X......:::::::::X
45 X::::::::::::..XX.:.OOO.O..........O.OOO.:.XX..::::::::::::X
46 X::::::::::::.XX..:...O.OOO......OOO.O...:..XX.::::::::::::X
47 X:::::::::....X....::.OOOOO......OOOOO.::....X....:::::::::X
48 X:::::::::.XXXX.OO.::..................::.OO.XXXX.:::::::::X
49 X.:::::::.......OO.:::::............:::::.OO.......:::::::.X
50 X.::::....OO....OO.::::::..........::::::.OO....OO....::::.X
51 X:::::.OOOOOOOO.OO.:::::::........:::::::.OO.OOOOOOOO.:::::X
52 X:::::.OOOOOOOOOOO.:::::::........:::::::.OOOOOOOOOOO.:::::X
53 X:::::.OOOOOOOOO...::::::..........::::::...OOOOOOOOO.:::::X
54 X:::::..OOOOO....::::::::..........::::::::....OOOOO..:::::X
55 X::::..OOOOOO.:::::::::::..........:::::::::::.OOOOOO..::::X
56 X::::.OOOOOOO.::::::::::............::::::::::.OOOOOOO.::::X
57 X::::.OOO.....:::::::::..............:::::::::.....OOO.::::X
58 X::.......:::::.:::......................:::.:::::.......::X
59 XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

posts
equip	x	y	valor	
-1	7	27	4000
-1	7	32	4000
-1	52	32	4000
-1	52	27	4000
-1	18	5	4000
-1	18	54	4000
-1	41	54	4000
-1	41	5	4000
-1	4	2	1000
-1	4	57	1000
-1	55	57	1000
-1	55	2	1000
-1	27	25	1000
-1	27	34	1000
-1	32	34	1000
-1	32	25	1000

score
20	20	20	20

status
0	0	0	0

agents
id	tipus	equip	x	y	vida	ori	napalm	paraca	
1	2	1	5	15	-1	0	30		0
2	2	1	15	5	-1	1	30		0
3	2	2	5	44	-1	0	30		0
4	2	2	15	54	-1	3	30		0
5	2	3	54	44	-1	2	30		0
6	2	3	44	54	-1	3	30		0
7	2	4	54	15	-1	2	30		0
8	2	4	44	5	-1	1	30		0
9	1	1	7	21	100	-1	-1		0
10	1	2	7	38	100	-1	-1		0
11	1	3	52	38	100	-1	-1		0
12	1	4	52	21	100	-1	-1		0
13	1	1	3	27	100	-1	-1		0
14	1	2	3	32	100	-1	-1		0
15	1	3	56	32	100	-1	-1		0
16	1	4	56	27	100	-1	-1		0
17	1	1	11	7	100	-1	-1		0
18	1	2	11	52	100	-1	-1		0
19	1	3	48	52	100	-1	-1		0
20	1	4	48	7	100	-1	-1		0
21	1	1	9	4	100	-1	-1		0
22	1	2	9	55	100	-1	-1		0
23	1	3	50	55	100	-1	-1		0
24	1	4	50	4	100	-1	-1		0
25	1	1	27	2	100	-1	-1		0
26	1	2	27	57	100	-1	-1		0
27	1	3	32	57	100	-1	-1		0
28	1	4	32	2	100	-1	-1		0
29	1	1	12	3	100	-1	-1		0
30	1	2	12	56	100	-1	-1		0
31	1	3	47	56	100	-1	-1		0
32	1	4	47	3	100	-1	-1		0
33	1	1	22	21	100	-1	-1		0
34	1	2	22	38	100	-1	-1		0
35	1	3	37	38	100	-1	-1		0
36	1	4	37	21	100	-1	-1		0
37	1	1	17	8	100	-1	-1		0
38	1	2	17	51	100	-1	-1		0
39	1	3	42	51	100	-1	-1		0
40	1	4	42	8	100	-1	-1		0
41	1	1	23	3	100	-1	-1		0
42	1	2	23	56	100	-1	-1		0
43	1	3	36	56	100	-1	-1		0
44	1	4	36	3	100	-1	-1		0
45	1	1	14	10	100	-1	-1		0
46	1	2	14	49	100	-1	-1		0
47	1	3	45	49	100	-1	-1		0
48	1	4	45	10	100	-1	-1		0
49	1	1	8	24	100	-1	-1		0
50	1	2	8	35	100	-1	-1		0
51	1	3	51	35	100	-1	-1		0
52	1	4	51	24	100	-1	-1		0
53	1	1	23	25	100	-1	-1		0
54	1	2	23	34	100	-1	-1		0
55	1	3	36	34	100	-1	-1		0
56	1	4	36	25	100	-1	-1		0
57	1	1	12	20	100	-1	-1		0
58	1	2	12	39	100	-1	-1		0
59	1	3	47	39	100	-1	-1		0
60	1	4	47	20	100	-1	-1		0
61	1	1	3	21	100	-1	-1		0
62	1	2	3	38	100	-1	-1		0
63	1	3	56	38	100	-1	-1		0
64	1	4	56	21	100	-1	-1		0
65	1	1	2	15	100	-1	-1		0
66	1	2	2	44	100	-1	-1		0
67	1	3	57	44	100	-1	-1		0
68	1	4	57	15	100	-1	-1		0
69	1	1	16	2	100	-1	-1		0
70	1	2	16	57	100	-1	-1		0
71	1	3	43	57	100	-1	-1		0
72	1	4	43	2	100	-1	-1		0
73	1	1	2	18	100	-1	-1		0
74	1	2	2	41	100	-1	-1		0
75	1	3	57	41	100	-1	-1		0
76	1	4	57	18	100	-1	-1		0
77	1	1	27	20	100	-1	-1		0
78	1	2	27	39	100	-1	-1		0
79	1	3	32	39	100	-1	-1		0
80	1	4	32	20	100	-1	-1		0
81	1	1	27	17	100	-1	-1		0
82	1	2	27	42	100	-1	-1		0
83	1	3	32	42	100	-1	-1		0
84	1	4	32	17	100	-1	-1		0
85	1	1	5	17	100	-1	-1		0
86	1	2	5	42	100	-1	-1		0
87	1	3	54	42	100	-1	-1		0
88	1	4	54	17	100	-1	-1		0
-1

foc
torns	x	y
-1


