ApocalypseNow v2

names
? ? ? ?

round 0

nou
89

terreny
   000000000011111111112222222222333333333344444444445555555555
   012345678901234567890123456789012345678901234567890123456789

00 XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
01 X...::.::.:::..::.::::................::::.::..:::.::.::...X
02 X.::::::::::::::::::::::............::::::::::::::::::::::.X
03 X.::::::::::::::::::::::............::::::::::::::::::::::.X
04 X.::::::::::::::::::::::............::::::::::::::::::::::.X
05 X.:::::::::::::::::::::::..........:::::::::::::::::::::::.X
06 X::::::::::::::::::::::::::......::::::::::::::::::::::::::X
07 X:::::::::::::::::::::::::::....:::::::::::::::::::::::::::X
08 X:::::::::::::::::::::::::::.::.:::::::::::::::::::::::::::X
09 X::::::::::::::::::::::::::::::::::::::::::::::::::::::::::X
10 X.::::::::.....::::::::::::::::::::::::::::::.....::::::::.X
11 X.::::::::.XXX..::::::::::::::::::::::::::::..XXX.::::::::.X
12 X..:::::::.X.XX.::::::::::::::::::::::::::::.XX.X.:::::::..X
13 X......:::.X..X.:...::::.::::::::::.::::...:.X..X.:::......X
14 X...OO..::.X..X...X......::::..::::......X...X..X.::..OO...X
15 X..OOOO....X..X..XX..OO..::::::::::..OO..XX..X..X....OOOO..X
16 X..OOOOOO..XX.XXXX...OOO..::::::::..OOO...XXXX.XX..OOOOOO..X
17 X....O..O..........OOO.OO.::::::::.OO.OOO..........O..O....X
18 X.OOOO....::::.....OOO..O..:.::.:..O..OOO.....::::....OOOO.X
19 X.OOO..:::::::.OOOOO....OO.:.::.:.OO....OOOOO.:::::::..OOO.X
20 X.O...::::::::.OO..........:....:..........OO.::::::::...O.X
21 X.O.:::::::::...O....:::::::....:::::::....O...:::::::::.O.X
22 X.O.:::::::::.OOO...::::::::....::::::::...OOO.:::::::::.O.X
23 X.O...:::::::.O....:::::::::....:::::::::....O.:::::::...O.X
24 X.OOO...::::..O....:::::::::....:::::::::....O..::::...OOO.X
25 X...OOO....:.OO....:::::::::....:::::::::....OO.:....OOO...X
26 X.....OOOO...OO.....:::::::......:::::::.....OO...OOOO.....X
27 X.....OO.OO...OO.........:........:.........OO...OO.OO.....X
28 X.........OO...O..OO.OOO............OOO.OO..O...OO.........X
29 X..........O...OOOOOOOOO............OOOOOOOOO...O..........X
30 X..........O...OOOOOOOOO............OOOOOOOOO...O..........X
31 X.........OO...O..OO.OOO............OOO.OO..O...OO.........X
32 X.....OO.OO...OO.........:........:.........OO...OO.OO.....X
33 X.....OOOO...OO.....:::::::......:::::::.....OO...OOOO.....X
34 X...OOO....:.OO....:::::::::....:::::::::....OO.:....OOO...X
35 X.OOO...::::..O....:::::::::....:::::::::....O..::::...OOO.X
36 X.O...:::::::.O....:::::::::....:::::::::....O.:::::::...O.X
37 X.O.:::::::::.OOO...::::::::....::::::::...OOO.:::::::::.O.X
38 X.O.:::::::::...O....:::::::....:::::::....O...:::::::::.O.X
39 X.O...::::::::.OO..........:....:..........OO.::::::::...O.X
40 X.OOO..:::::::.OOOOO....OO.:.::.:.OO....OOOOO.:::::::..OOO.X
41 X.OOOO....::::.....OOO..O..:.::.:..O..OOO.....::::....OOOO.X
42 X....O..O..........OOO.OO.::::::::.OO.OOO..........O..O....X
43 X..OOOOOO..XX.XXXX...OOO..::::::::..OOO...XXXX.XX..OOOOOO..X
44 X..OOOO....X..X..XX..OO..::::::::::..OO..XX..X..X....OOOO..X
45 X...OO..::.X..X...X......::::..::::......X...X..X.::..OO...X
46 X......:::.X..X.:...::::.::::::::::.::::...:.X..X.:::......X
47 X..:::::::.X.XX.::::::::::::::::::::::::::::.XX.X.:::::::..X
48 X.::::::::.XXX..::::::::::::::::::::::::::::..XXX.::::::::.X
49 X.::::::::.....::::::::::::::::::::::::::::::.....::::::::.X
50 X::::::::::::::::::::::::::::::::::::::::::::::::::::::::::X
51 X:::::::::::::::::::::::::::.::.:::::::::::::::::::::::::::X
52 X:::::::::::::::::::::::::::....:::::::::::::::::::::::::::X
53 X::::::::::::::::::::::::::......::::::::::::::::::::::::::X
54 X.:::::::::::::::::::::::..........:::::::::::::::::::::::.X
55 X.::::::::::::::::::::::............::::::::::::::::::::::.X
56 X.::::::::::::::::::::::............::::::::::::::::::::::.X
57 X.::::::::::::::::::::::............::::::::::::::::::::::.X
58 X...::.::.:::..::.::::................::::.::..:::.::.::...X
59 XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

posts
equip	x	y	valor	
-1	2	3	4000
-1	2	56	4000
-1	57	56	4000
-1	57	3	4000
-1	22	10	4000
-1	22	49	4000
-1	37	49	4000
-1	37	10	4000
-1	7	15	1000
-1	7	44	1000
-1	52	44	1000
-1	52	15	1000
-1	5	7	1000
-1	5	52	1000
-1	54	52	1000
-1	54	7	1000

score
20	20	20	20

status
0	0	0	0

agents
id	tipus	equip	x	y	vida	ori	napalm	paraca	
1	2	1	5	15	-1	0	30		0
2	2	1	15	5	-1	1	30		0
3	2	2	5	44	-1	0	30		0
4	2	2	15	54	-1	3	30		0
5	2	3	54	44	-1	2	30		0
6	2	3	44	54	-1	3	30		0
7	2	4	54	15	-1	2	30		0
8	2	4	44	5	-1	1	30		0
9	1	1	13	26	100	-1	-1		0
10	1	2	13	33	100	-1	-1		0
11	1	3	46	33	100	-1	-1		0
12	1	4	46	26	100	-1	-1		0
13	1	1	3	14	100	-1	-1		0
14	1	2	3	45	100	-1	-1		0
15	1	3	56	45	100	-1	-1		0
16	1	4	56	14	100	-1	-1		0
17	1	1	24	22	100	-1	-1		0
18	1	2	24	37	100	-1	-1		0
19	1	3	35	37	100	-1	-1		0
20	1	4	35	22	100	-1	-1		0
21	1	1	7	20	100	-1	-1		0
22	1	2	7	39	100	-1	-1		0
23	1	3	52	39	100	-1	-1		0
24	1	4	52	20	100	-1	-1		0
25	1	1	10	17	100	-1	-1		0
26	1	2	10	42	100	-1	-1		0
27	1	3	49	42	100	-1	-1		0
28	1	4	49	17	100	-1	-1		0
29	1	1	2	23	100	-1	-1		0
30	1	2	2	36	100	-1	-1		0
31	1	3	57	36	100	-1	-1		0
32	1	4	57	23	100	-1	-1		0
33	1	1	22	25	100	-1	-1		0
34	1	2	22	34	100	-1	-1		0
35	1	3	37	34	100	-1	-1		0
36	1	4	37	25	100	-1	-1		0
37	1	1	3	27	100	-1	-1		0
38	1	2	3	32	100	-1	-1		0
39	1	3	56	32	100	-1	-1		0
40	1	4	56	27	100	-1	-1		0
41	1	1	10	4	100	-1	-1		0
42	1	2	10	55	100	-1	-1		0
43	1	3	49	55	100	-1	-1		0
44	1	4	49	4	100	-1	-1		0
45	1	1	17	27	100	-1	-1		0
46	1	2	17	32	100	-1	-1		0
47	1	3	42	32	100	-1	-1		0
48	1	4	42	27	100	-1	-1		0
49	1	1	26	26	100	-1	-1		0
50	1	2	26	33	100	-1	-1		0
51	1	3	33	33	100	-1	-1		0
52	1	4	33	26	100	-1	-1		0
53	1	1	9	26	100	-1	-1		0
54	1	2	9	33	100	-1	-1		0
55	1	3	50	33	100	-1	-1		0
56	1	4	50	26	100	-1	-1		0
57	1	1	8	7	100	-1	-1		0
58	1	2	8	52	100	-1	-1		0
59	1	3	51	52	100	-1	-1		0
60	1	4	51	7	100	-1	-1		0
61	1	1	24	18	100	-1	-1		0
62	1	2	24	41	100	-1	-1		0
63	1	3	35	41	100	-1	-1		0
64	1	4	35	18	100	-1	-1		0
65	1	1	21	22	100	-1	-1		0
66	1	2	21	37	100	-1	-1		0
67	1	3	38	37	100	-1	-1		0
68	1	4	38	22	100	-1	-1		0
69	1	1	27	4	100	-1	-1		0
70	1	2	27	55	100	-1	-1		0
71	1	3	32	55	100	-1	-1		0
72	1	4	32	4	100	-1	-1		0
73	1	1	13	7	100	-1	-1		0
74	1	2	13	52	100	-1	-1		0
75	1	3	46	52	100	-1	-1		0
76	1	4	46	7	100	-1	-1		0
77	1	1	22	5	100	-1	-1		0
78	1	2	22	54	100	-1	-1		0
79	1	3	37	54	100	-1	-1		0
80	1	4	37	5	100	-1	-1		0
81	1	1	19	13	100	-1	-1		0
82	1	2	19	46	100	-1	-1		0
83	1	3	40	46	100	-1	-1		0
84	1	4	40	13	100	-1	-1		0
85	1	1	11	22	100	-1	-1		0
86	1	2	11	37	100	-1	-1		0
87	1	3	48	37	100	-1	-1		0
88	1	4	48	22	100	-1	-1		0
-1

foc
torns	x	y
-1


