ApocalypseNow v2

names
? ? ? ?

round 0

nou
89

terreny
   000000000011111111112222222222333333333344444444445555555555
   012345678901234567890123456789012345678901234567890123456789

00 XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
01 X...............::::.::::::......::::::.::::...............X
02 X.:::.OOOOOOOOO.::::::::::::....::::::::::::.OOOOOOOOO.:::.X
03 X.:::.OOOO..OOO.::::::::::::....::::::::::::.OOO..OOOO.:::.X
04 X.:::.OOOO..O...:::::::::::::..:::::::::::::...O..OOOO.:::.X
05 X.:::.OOOO..OOO.:.....:...:::..:::...:.....:.OOO..OOOO.:::.X
06 X::::.........O...OOO...O.::....::.O...OOO...O.........::::X
07 X::::::::::::.OOOOOOO...O.::....::.O...OOOOOOO.::::::::::::X
08 X.:::::::::::....OOOOOOOO.::....::.OOOOOOOO....:::::::::::.X
09 X:::::::::::::::.OOOOOO...::....::...OOOOOO.:::::::::::::::X
10 X:::::::::::::::.OOOOOO.::::....::::.OOOOOO.:::::::::::::::X
11 X:::::::::::::::........::::....::::........:::::::::::::::X
12 X:::::::::::::::::::::::::::....:::::::::::::::::::::::::::X
13 X:::::::::::::::::::::::::::....:::::::::::::::::::::::::::X
14 X:::::::::::::::::::::::::::....:::::::::::::::::::::::::::X
15 X.::::::::::::::::::::::::::....::::::::::::::::::::::::::.X
16 X.::::::::::::::::::::::::........::::::::::::::::::::::::.X
17 X.:::::::::::::::::.::::::.OO..OO.::::::.:::::::::::::::::.X
18 X::::::::....::::::.::::::.OOOOOO.::::::.::::::....::::::::X
19 X::::::::.OO.::::::........OOOOOO........::::::.OO.::::::::X
20 X::::.....OO...::::.OOOOOOOOO..OOOOOOOOO.::::...OO.....::::X
21 X::...OOOOOOOO.::::.OOOO..OOO..OOO..OOOO.::::.OOOOOOOO...::X
22 X...OOOOOOOOOO.::::..OOOO.OO....OO.OOOO..::::.OOOOOOOOOO...X
23 X..OOOOOOOOO...:::::.OOOO..........OOOO.:::::...OOOOOOOOO..X
24 X..OOOOOOOOO..::::::....................::::::..OOOOOOOOO..X
25 X....OOOOOOO..:::::::::..............:::::::::..OOOOOOO....X
26 X......OOOOO..::::::::::............::::::::::..OOOOO......X
27 X......OOOOO..::::::::::............::::::::::..OOOOO......X
28 X......OOOO.....::::....................::::.....OOOO......X
29 X................:........................:................X
30 X................:........................:................X
31 X......OOOO.....::::....................::::.....OOOO......X
32 X......OOOOO..::::::::::............::::::::::..OOOOO......X
33 X......OOOOO..::::::::::............::::::::::..OOOOO......X
34 X....OOOOOOO..:::::::::..............:::::::::..OOOOOOO....X
35 X..OOOOOOOOO..::::::....................::::::..OOOOOOOOO..X
36 X..OOOOOOOOO...:::::.OOOO..........OOOO.:::::...OOOOOOOOO..X
37 X...OOOOOOOOOO.::::..OOOO.OO....OO.OOOO..::::.OOOOOOOOOO...X
38 X::...OOOOOOOO.::::.OOOO..OOO..OOO..OOOO.::::.OOOOOOOO...::X
39 X::::.....OO...::::.OOOOOOOOO..OOOOOOOOO.::::...OO.....::::X
40 X::::::::.OO.::::::........OOOOOO........::::::.OO.::::::::X
41 X::::::::....::::::.::::::.OOOOOO.::::::.::::::....::::::::X
42 X.:::::::::::::::::.::::::.OO..OO.::::::.:::::::::::::::::.X
43 X.::::::::::::::::::::::::........::::::::::::::::::::::::.X
44 X.::::::::::::::::::::::::::....::::::::::::::::::::::::::.X
45 X:::::::::::::::::::::::::::....:::::::::::::::::::::::::::X
46 X:::::::::::::::::::::::::::....:::::::::::::::::::::::::::X
47 X:::::::::::::::::::::::::::....:::::::::::::::::::::::::::X
48 X:::::::::::::::........::::....::::........:::::::::::::::X
49 X:::::::::::::::.OOOOOO.::::....::::.OOOOOO.:::::::::::::::X
50 X:::::::::::::::.OOOOOO...::....::...OOOOOO.:::::::::::::::X
51 X.:::::::::::....OOOOOOOO.::....::.OOOOOOOO....:::::::::::.X
52 X::::::::::::.OOOOOOO...O.::....::.O...OOOOOOO.::::::::::::X
53 X::::.........O...OOO...O.::....::.O...OOO...O.........::::X
54 X.:::.OOOO..OOO.:.....:...:::..:::...:.....:.OOO..OOOO.:::.X
55 X.:::.OOOO..O...:::::::::::::..:::::::::::::...O..OOOO.:::.X
56 X.:::.OOOO..OOO.::::::::::::....::::::::::::.OOO..OOOO.:::.X
57 X.:::.OOOOOOOOO.::::::::::::....::::::::::::.OOOOOOOOO.:::.X
58 X...............::::.::::::......::::::.::::...............X
59 XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

posts
equip	x	y	valor	
-1	18	5	4000
-1	18	54	4000
-1	41	54	4000
-1	41	5	4000
-1	7	2	4000
-1	7	57	4000
-1	52	57	4000
-1	52	2	4000
-1	17	21	1000
-1	17	38	1000
-1	42	38	1000
-1	42	21	1000
-1	12	14	1000
-1	12	45	1000
-1	47	45	1000
-1	47	14	1000

score
20	20	20	20

status
0	0	0	0

agents
id	tipus	equip	x	y	vida	ori	napalm	paraca	
1	2	1	5	15	-1	0	30		0
2	2	1	15	5	-1	1	30		0
3	2	2	5	44	-1	0	30		0
4	2	2	15	54	-1	3	30		0
5	2	3	54	44	-1	2	30		0
6	2	3	44	54	-1	3	30		0
7	2	4	54	15	-1	2	30		0
8	2	4	44	5	-1	1	30		0
9	1	1	18	14	100	-1	-1		0
10	1	2	18	45	100	-1	-1		0
11	1	3	41	45	100	-1	-1		0
12	1	4	41	14	100	-1	-1		0
13	1	1	13	27	100	-1	-1		0
14	1	2	13	32	100	-1	-1		0
15	1	3	46	32	100	-1	-1		0
16	1	4	46	27	100	-1	-1		0
17	1	1	18	25	100	-1	-1		0
18	1	2	18	34	100	-1	-1		0
19	1	3	41	34	100	-1	-1		0
20	1	4	41	25	100	-1	-1		0
21	1	1	10	7	100	-1	-1		0
22	1	2	10	52	100	-1	-1		0
23	1	3	49	52	100	-1	-1		0
24	1	4	49	7	100	-1	-1		0
25	1	1	13	7	100	-1	-1		0
26	1	2	13	52	100	-1	-1		0
27	1	3	46	52	100	-1	-1		0
28	1	4	46	7	100	-1	-1		0
29	1	1	22	17	100	-1	-1		0
30	1	2	22	42	100	-1	-1		0
31	1	3	37	42	100	-1	-1		0
32	1	4	37	17	100	-1	-1		0
33	1	1	14	4	100	-1	-1		0
34	1	2	14	55	100	-1	-1		0
35	1	3	45	55	100	-1	-1		0
36	1	4	45	4	100	-1	-1		0
37	1	1	25	24	100	-1	-1		0
38	1	2	25	35	100	-1	-1		0
39	1	3	34	35	100	-1	-1		0
40	1	4	34	24	100	-1	-1		0
41	1	1	5	16	100	-1	-1		0
42	1	2	5	43	100	-1	-1		0
43	1	3	54	43	100	-1	-1		0
44	1	4	54	16	100	-1	-1		0
45	1	1	19	17	100	-1	-1		0
46	1	2	19	42	100	-1	-1		0
47	1	3	40	42	100	-1	-1		0
48	1	4	40	17	100	-1	-1		0
49	1	1	8	12	100	-1	-1		0
50	1	2	8	47	100	-1	-1		0
51	1	3	51	47	100	-1	-1		0
52	1	4	51	12	100	-1	-1		0
53	1	1	12	11	100	-1	-1		0
54	1	2	12	48	100	-1	-1		0
55	1	3	47	48	100	-1	-1		0
56	1	4	47	11	100	-1	-1		0
57	1	1	10	3	100	-1	-1		0
58	1	2	10	56	100	-1	-1		0
59	1	3	49	56	100	-1	-1		0
60	1	4	49	3	100	-1	-1		0
61	1	1	3	27	100	-1	-1		0
62	1	2	3	32	100	-1	-1		0
63	1	3	56	32	100	-1	-1		0
64	1	4	56	27	100	-1	-1		0
65	1	1	2	22	100	-1	-1		0
66	1	2	2	37	100	-1	-1		0
67	1	3	57	37	100	-1	-1		0
68	1	4	57	22	100	-1	-1		0
69	1	1	25	20	100	-1	-1		0
70	1	2	25	39	100	-1	-1		0
71	1	3	34	39	100	-1	-1		0
72	1	4	34	20	100	-1	-1		0
73	1	1	15	10	100	-1	-1		0
74	1	2	15	49	100	-1	-1		0
75	1	3	44	49	100	-1	-1		0
76	1	4	44	10	100	-1	-1		0
77	1	1	2	4	100	-1	-1		0
78	1	2	2	55	100	-1	-1		0
79	1	3	57	55	100	-1	-1		0
80	1	4	57	4	100	-1	-1		0
81	1	1	26	14	100	-1	-1		0
82	1	2	26	45	100	-1	-1		0
83	1	3	33	45	100	-1	-1		0
84	1	4	33	14	100	-1	-1		0
85	1	1	15	18	100	-1	-1		0
86	1	2	15	41	100	-1	-1		0
87	1	3	44	41	100	-1	-1		0
88	1	4	44	18	100	-1	-1		0
-1

foc
torns	x	y
-1


